@tailwind base;
@tailwind components;
@tailwind utilities;

.lastSectionBoundary {
	background-image: url("/assets/rectanglegreen.svg");
}

.text-decoration {
	text-decoration: none;
	color: white;
}
.lastbox1 {
	padding: 138px 74px 20px 74px;
}

.shadowClass {
	box-shadow: 0px 4px 10px 0px #00000033;
}

.montseratFont {
	font-family: Montserrat;
}

.timecardflex {
	display: flex;
	gap: 37px;
	align-items: center;
	justify-content: center;
}

.cardbackcircleText {
	font-family: Open Sans;
	font-size: 12px;
	font-weight: 700;
	line-height: 20px;
	text-align: center;
}

.cardbackcircle1 {
	background-image: url("/assets/timeCardback1.svg");
	width: 40px;
	align-content: center;
	height: 40px;
}
.cardbackcircle2 {
	background-image: url("/assets/timeCardback2.svg");
	width: 40px;
	height: 40px;
	align-content: center;
}

.cardbutton {
	cursor: pointer;
	border-radius: 40px;
	background: #ffffff;
	border: 2px solid #212121;
	font-family: Montserrat;
	font-weight: 600;
	line-height: 19px;
	letter-spacing: 0.5px;
	text-align: center;
}

.cardbutton:hover,
a:hover {
	opacity: 0.7;
}
.timeinnercardflex {
	display: flex;
	gap: 26px;
	justify-content: center;
	align-items: center;
}
.firstParaTeamManagement {
	font-family: Open Sans;
	font-size: 12px;
	font-weight: 400;
	line-height: 20px;
	text-align: center;
}

.fontfortimemanagetext {
	font-family: Montserrat;
	font-size: 16px;
	font-weight: 400;
	line-height: 20px;
}

@keyframes slide {
	to {
		transform: translate(calc(100% - 100cqw), 0);
	}
}

@keyframes spin-around {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.animate-slide {
	animation: slide var(--speed, 2s) ease-in-out infinite alternate;
}

.animate-spin-around {
	animation: spin-around calc(var(--speed, 2s) * 2) linear infinite;
}
